[general]
# Upstream Alpine aports reference used by pmbootstrap.
aports_remote = https://gitlab.alpinelinux.org/alpine/aports
aports_branch = master

# Upstream postmarketOS pmaports reference (optional, informative).
pmaports_remote = https://gitlab.postmarketos.org/postmarketOS/pmaports
pmaports_branch = master

[pmaports]
# Channel to use (edge is the rolling branch).
channel = edge
# Source of pmaports. Keep consistent with checkout.
remote = https://gitlab.postmarketos.org/postmarketOS/pmaports.git
branch = master
version = 7
